#!/usr/bin/env bash
#
# zammad backup script config
#
# Learn more about the options below at
# https://docs.zammad.org/en/latest/appendix/backup-and-restore/configuration.html

BACKUP_DIR='/var/tmp/zammad_backup'
HOLD_DAYS='10'
FULL_FS_DUMP='no'
DEBUG='no'


# optional settings
#
# execute some commands:
#  PRE_BACKUP_EXEC=command to execute at the start of the backup script
#  PRE_DB_BACKUP_EXEC=command to execute before the DB backup is performed
#  PRE_FILES_BACKUP_EXEC=command to execute before the files backup is performed
#  POST_BACKUP_EXEC=command to execute at the end of the backup script
# alternative place to get the zammad files to backup from:
# (used in backup_files and restore_files - so the VAR should be the same for both steps)
#  ALT_FILES_DIR=/alternative/path
